
<% include ./middle %>

    <footer>
        <div class="footer_nav">
            <div class="container">
                <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>About Us</h4>
                    <p> Cryptonyst is a Crypto News platform to stay up to date with trending news,
                        promote crypto, discuss crypto and earn Bitcoin.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Info</h4>
                    <ul class="info">
                        <li>Privacy</li>
                        <li>Cookie Policy</li>
                        <li>Write for us</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Contact</h4>
                    <p>Having issues? support.cryptonyst@gmail.com</p>
                    <p>info.cryptonyst@gmail.com</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Social</h4>
                    <ul class="social">
                        <li><a href="https://facebook.com/cryptonyst"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/cryptonyst1"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </footer>
</body>
</body>
</html>